.ad-wrapper{
    position:relative;
    overflow: hidden;
    width: 100%;
}
.dialog{
	background: rgba(0,0,0,0.4);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    /*overflow: hidden;*/
}
.dialog>div:first-child{
	font-size: 18px;
	text-align: center;
	width: 280px;
	height: 30px;
	position: relative;
	top: 8%;
	left: 50%;
	margin-left: -140px;
	line-height: 30px;
	color: #fff;
}
.dialog>span{
	display: block;
	font-size: 13px;
	text-align: center;
	width: 200px;
	height:30px;
	position: relative;
	top: 5%;
	left: 50%;
	margin-left: -100px;
	line-height: 30px;
	color: #fff;
}
.dialog>a:last-child{
	display: block;
	font-size: 40px;
	text-align: center;
	width: 280px;
	height: 75px;
	position: absolute;
	top: 65%;
	left: 50%;
	border: 5px solid #fff;
	border-radius: 40px;
	margin-left: -140px;
	line-height: 75px;
	color: #fff;
	text-decoration: none;

}
.image-wrapper>div{
    display: block;
    width:100%;
    position: relative;
   
}
.image-wrapper img{
    width: 100%;
}

.image-wrapper>div:not(:first-child){
    position:absolute;
    left:0;
    top:0;
    transform: translateX(100%);
}

.outLeft{
    animation:outLeft 0.5s  ease-in both;
}

.inLeft{
    animation:inLeft 0.5s  ease-in both;
}

.inRight{
    animation:inRight 0.5s  ease-in both;
}

.outRight{
    animation:outRight 0.5s  ease-in both;
}

@keyframes outLeft {
    from{transform:translate(0 , 0);}
    to{transform:translate(-100% , 0)}
}

@keyframes inRight {
    from{transform:translate(100% , 0);}
    to{transform:translate(0 , 0);}
}

@keyframes outRight {
    from{transform:translate(0 , 0);}
    to{transform:translate(100% , 0);}
}

@keyframes inLeft {
    from{transform:translate(-100% , 0);}
    to{transform:translate(0 , 0)}
}
.arrow-left,.arrow-right{
    position: absolute;
    top: 50%;
    margin-top: -74px;
    width: 50px;
    height: 148px;
    line-height: 148px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    background: rgba(0,0,0,0.1)
}
.arrow-left{
   left: 0;
}
.arrow-right{
    right:0;
}
.wrapper{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:20px;
    text-align: center;
    z-index: 20;
    font-size: 0;
}
.wrapper>button{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    transition: background 0.5s linear;
    outline: none;
}
.wrapper button:first-child{
    background: #FFCD2D;
}
.wrapper button:not(:first-child){
    margin-left: 4px;
}
#firstbtn{
    background: #fff;
}