.page-main>div:last-child{
	background:radial-gradient(circle,#fff,#f1f1f1,#888);
}
.mine-title{
	width: 100%;
	height: 8rem;
	line-height: 8rem;
	text-align: center;
	font-size: 140px;
	margin-top: 52px;
	color: #444;
}
.userInforShow{
	width: 80%;
	margin: auto;
	height: 120px;
	text-align: center;
	font-size: 12px;
}
.userInforShow>span{
	display: block;
}
.userInforShow>span:first-child{
	color: #999;
	height: 80px;
	line-height: 80px;
	width: 100%;
	font-size: 16px;
}
.userInforShow>span:last-child{
	color: #d1d1d1;
	height: 35px;
	line-height: 35px;
	width: 100%;
}

.loadBtn,.registerBtn{
	width: 8rem;
	height: 1.3rem;
	margin: auto;
	border: 1px solid #d1d1d1;
	border-radius: 0.8rem;
	text-align: center;
	line-height: 1.3rem;
	font-size: 15px;
	color: #999;
}
.registerBtn{
	margin-top: 20px;
}
.registerPage{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background:linear-gradient(135deg, #999,#e1e1e1,#fff,#e1e1e1,#999);
	z-index: 21;
	transform: translate(100%);
	overflow-y: auto;
	overflow-x: hidden;
}
.loadPage{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background:linear-gradient(135deg, #999,#e1e1e1,#fff,#e1e1e1,#999);
	z-index: 21;
	transform: translate(100%);
	overflow-y: auto;
	overflow-x: hidden;
}

.loadList{
	width: 88%;
	height: 420px;
	/*background: #fff;*/
	border-radius: 4px;
	position: relative;
	margin:52px auto;
	overflow:hidden;

}

.loadList>div:first-child{
	width: 90%;
	height: 60px;
	line-height: 60px;
	margin:auto;
	overflow: hidden;
	border-bottom: 1px solid #e2e2e2;
}
.loadList>div:first-child>span{
	display: inline-block;
	float: left;
	font-size: 15px;
	color: #777;
}
#txtPhone{   		
	min-height:24px;
	line-height: 24px;
	width:240px;
	font-size:14px;
	padding:3px;color:red; 
}
#txtPassword{	
	height:24px; 
	line-height: 24px;  
	width:240px; 
	font-size:14px; 
	padding:3px;
	color:red; 

}
.item-title{
	display: inline-block;
	width: 30%;
	float: left;
	color: #777;
}
.item-title>span{
	color: #ff0000;
	display: inline-block;
	width: 20px;
	text-align: center;

}
.item-textbox{
	outline: none;
	width: 70%;
	height: 32px;
	float: right;
	border: none;
	border-radius: 3px;
	color: #b3b3b3;
	background:transparent;
	font-size: 13px;
	box-sizing: border-box;
	padding-left: 15px;
}
.form-item:first-child{
	margin-top: 50px;
}
.form-item{
	width: 90%;
	height: 32px;
	line-height: 32px;
	margin: auto;
	margin-top: 25px;
	overflow:hidden;
	font-size: 14px;
}
#txtPhone{
	display: block;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
	margin:auto;
	text-align:left;
	padding-left: 106px;
	font-size: 2px;
	border-bottom: 1px solid #e1e1e1;

}
#txtPassword{
	display: block;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
	margin:auto;
	text-align:left;
	padding-left: 106px;
	font-size: 2px;
	border-bottom: 1px solid #e1e1e1;
}
.btn-submit{
	width: 90%;
	outline: none;
	background: #e1e1e1;
	border: none;
	color: #777;
	border-radius: 20px;
	height: 40px;
	margin:auto;
	display:block;
	margin-top: 45px;
}
.otherLoadWay{
	width: 90%;
	margin:25px auto;
	height: 40px;
	position: relative;
	user-select: none;
	color: #b1b1b1;
	overflow:hidden;
	font-size: 12px;
}
.otherLoadWay>span:first-child{
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 40px;
	line-height: 40px;

}
.otherLoadWay>span:nth-child(2){
	display: inline-block;
	position: absolute;
	left: 100px;
	width: 42px;
	height: 100%;
	background: url(../images/weixinqq.png) no-repeat center center;
	cursor: pointer;
}
.otherLoadWay a:nth-child(3){
	display: inline-block;
	height: 100%;
	position: absolute;
	right: 65px;
	line-height: 40px;
	color: #b1b1b1;
}
.otherLoadWay a:nth-child(4){
	display: inline-block;
	position: absolute;
	right: 0;
	height: 100%;
	line-height: 40px;
	color: #b1b1b1;
}
/**********************注册*************************************************************************/
.zcList{
	width: 88%;
	height: 90%;
	border-radius: 4px;
	position: relative;
	margin:auto;
}
.zcContainer{
	position: absolute;
	width: 360px;
	height: 480px;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -180px;
}


.zcitem-title{
	display: inline-block;
	width: 30%;
	float: left;
	font-size: 14px;
	color: #777;
	text-align: left;
}
.zcitem-title>span{
	color: #ff0000;
	display: inline-block;
	width: 20px;
	text-align: center;

}
.zcitem-textbox{
	outline: none;
	width: 70%;
	height: 32px;
	float: right;
	border: none;
	border-radius: 3px;
	color: #b3b3b3;
	font-size: 13px;
	background:transparent;
	box-sizing: border-box;
	padding-left: 15px;
}
.cnfDv{
	width: 220px;
	overflow:hidden;
	float: right;
}
.zcitem-newstextbox{
	outline: none;
	width: 120px;
	height: 28px;
	border: none;
	background: transparent;
	border-radius: 3px;
	color: #b3b3b3;
	font-size: 13px;
	box-sizing: border-box;
	padding-left: 15px;
	float: left;
}
.zcitem-newsgettextbox{
	display: inline-block;
	line-height: 28px;
	cursor: pointer;
	color: #777;
	background: #e1e1e1;
	outline: none;
	width: 80px;
	height: 28px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	font-size: 13px;
	float: right;
	box-sizing: border-box;
	padding-left: 15px;
	text-align: left;
}
.zcform-item:first-child{
	margin-top: 0px;
}
.zcform-item{
	width: 88%;
	height: 32px;
	line-height: 32px;
	margin: auto;
	text-align: right;
	margin-top: 25px;
	overflow:hidden;
	position: relative;
}
#zctxtPhone{
	display: block;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
	margin:auto;
	text-align:left;
	padding-left: 116px;
	font-size: 2px;
	color: red;
	border-bottom: 1px solid #e1e1e1;

}

#zctxtPassword{
	display: block;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
	margin:auto;
	text-align:left;
	padding-left: 116px;
	font-size: 2px;
	color: red;
	border-bottom: 1px solid #e1e1e1;
}
#zctxtNews{
	display: block;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
	margin:auto;
	text-align:left;
	padding-left: 116px;
	font-size: 2px;
	color: red;
	border-bottom: 1px solid #e1e1e1;

}
#zctxtCnfPassword{
	display: block;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
	margin:auto;
	text-align:left;
	padding-left: 116px;
	font-size: 2px;
	color: #ff0000;
	border-bottom: 1px solid #e1e1e1;


}
#zctxtCheckbox{
	display: block;
	width: 90%;
	height: 30px;
	box-sizing: border-box;
	margin:auto;
	text-align:left;
	padding-left: 116px;
	font-size: 2px;
	color: red;

}
.zccheckbox{
	position: absolute;
}
/*.yueduxinxi{
	position: absolute;
}*/
.zcbtn-submit{
	display: block;
	width: 45%;
	outline: none;
	background: #e1e1e1;
	border: none;
	color: #777;
	border-radius: 4px;
	height: 40px;
	margin: auto;
	margin-top: 25px;
	cursor: pointer;
	user-select: none;
}
.zccenter-align{
	overflow: hidden;
}
.yueduxieyi{
	font-size: 11px;
}
.yueduxieyi a{
	font-size: 11px;
}
.showInfor{
	width: 100%;
	height: 40px;
	font-size: 14px;
	color: #ff0000;
	line-height: 40px;
	text-align: center;
}




