.page-detail{
    background: linear-gradient(135deg, #9B6A47,#AF855B,#C0956A,#AF855B,#9B6A47);
}
.detail-container{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #A07B54;
    position: relative;
}
.detail-container>img{
    height: 85%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    box-shadow: 4px 4px 7px 3px rgba(0,0,0,0.3);
}
.detail-title{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #A07B54;
    box-sizing: border-box;
    padding:0 8%;
    color: #6E5335;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
}
.detail-info{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #A07B54;
}
.detail-info>div{
    width: 100%;
    padding: 0 8%;
    height: 25%;
    line-height: 37.5px;
    font-size: 14px;
    overflow: hidden;
    box-sizing: border-box;
}
.detail-info>div>i{
    width: 24%;
    font-style: normal;
    display: inline-block;
    height: 100%;
    color: #555;

}
.detail-info>div>span{
    width: 60%;
    display: inline-block;
    height: 100%;
    color: #7E5335;
}
.detail-introduce , .detail-introduce-sec{
    border-bottom: 1px solid #A07B54;
    color: #7E5335;
    font-size: 13px;
    line-height: 30px;
    text-indent: 20px;
    padding: 2% 8% 52px 8%;
}
.detail-introduce-sec{
    padding: 2% 8% !important;
}
.detail-introduce>span , .detail-introduce-sec>span{
    width: 100%;
}
/*******底部************/
.car-action{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 48px;
    box-sizing: border-box;
    border-top: 1px solid #8B6A11;
    padding: 0;
    font-size: 0;
}
.car-action>div{
    width: 50%;
    display: inline-block;
    height: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 48px;
    color: #e1e1e1;
    box-sizing: border-box;
}
.car-num{
    text-align: center;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    display: inline-block;
    color:#e1e1e1;
    margin-left: 5px;
}
.car-action>div>i{
    margin-right: 3px;
}
.car-action>div:last-child{
    background: #9C6F45;
}
.car-action>div:first-child{
    background: #AF855B;
}
.bookNum{
    color: #D5181A !important;
}
.addbook-success{
    color: #33CD5F !important;
}
.addbook-error{
    color: #FF7F26 !important;
}