.foot{
	margin-top: 20px;
	height: 180px;
	width: 100%;
	min-width: 1280px;
	background-image: url("../image/2_2.jpg") ;
	background-position: 0px 326px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 50px;
	box-sizing: border-box;
	text-align: center;
}
.foot a{
	color: #e1e1e1;
}
.foot a:hover{
	color: #0461AC;
}
.foot>span{
	color: #e1e1e1;
}