@charset "utf-8";

/** base setting **/
body,html{font-family:'Microsoft Yahei',Verdana, Arial, Helvetica, 'Simsun', sans-serif!important;margin:0;background:#f8fafc;}
ul{margin:0;padding:0;list-style:none;}
.common-content{width:1190px;margin:0 auto;}
.clearfix{clear:both;}
.text-danger{color:#f00;}
.text-muted{color:#999;}
.text-primary{color:#3e8be8;}
.tab-pane{display:none;}
.tab-pane.active{display:block;}

/** link **/
a{color:#666;}
a:hover{color:#eb4b3f;text-decoration:none;}
a:focus,a:active{text-decoration:none;}
a.link-red{color:#eb4b3f;}
a.link-red:hover{color:#d14338;}
a.link-blue{color:#1885cb;}
a.link-blue:hover{color:#1576b3;}

/** button **/
.btn{background-color:#eb4b3f;color:#fff;}
.btn:hover{background-color:#d14338;}
.btn:hover,.btn:focus,.btn:active{color:#fff;}
.btn-border,.btn-border:focus{background-color:#fffaf4;border-color:#eb4b3f;color:#eb4b3f;}
.btn-gray{background-color:#eee;color:#999;}
.btn-gray:focus,.btn-gray:active{color:#999;}
.btn-gray:hover{background-color:#ddd;color:#666;}
.btn-orange{background-color:#fb8320;}
.btn-orange:focus,.btn-orange:active{background-color:#e5781e;}
.btn-orange:hover{background-color:#e5781e;}
.btn-orange.btn-border{background-color:#fff;border-color:#fb8320;color:#fb8320;}
.btn-orange.btn-border:focus,.btn-orange.btn-border:active{background-color:#fff;color:#fb8320;}
.btn-orange.btn-border:hover{background-color:#e5781e;color:#fff;}
.btn-blue{background-color:#6e85af;}
.btn-blue:focus,.btn-blue:active,.btn-blue:hover{background-color:#5d7ab0;}

.fh-btn{
	font-size: 18px;
	padding: 12px 26px;
	color: #fff;
	background: #ec4d41;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
}

.fh-btns{
	text-align: center;
	margin-top:15px;
}

/*** 下拉菜单-列表 ***/
header .popover{max-width:none;border:none;border-radius:0;}
header .popover.bottom > .arrow{border-bottom-color:#eee;}
.popover-group{padding:10px 0;overflow:hidden;;}
.popover-group + .popover-group{border-top:1px #ddd solid;}
.popover-group > *{float:left;}
.popover-group .group-title{width:10%;}
.popover-group .group-content{width:90%;}

/** header **/
header{background:#fff;box-shadow:0 5px 20px rgba(0,0,0,.1);}
.common-topbar-main{background:#bf0c0d;color:#fff;}
.common-topbar-brand{float:left;height:50px;width:145px;margin-right:50px;overflow:hidden;background:url(../img/ico-topbar-brand.png) no-repeat 0 0;text-indent:-180px;}
.common-topbar-navlist li{display:inline-block;margin-right:40px;line-height:47px;font-weight:bold;}
.common-topbar-navlist li.pull-right{margin-right:0;}
.common-topbar-navlist a{display:block;color:#fff;border-bottom:3px #bf0c0d solid;}
.common-topbar-navlist .active a,
.common-topbar-navlist a:hover{color:#ff0;font-weight:bold;border-color:#ff0;}
/*** 顶部灰色栏 ***/
/*.common-topbar-sub{background:#f5f5f5;font-size:12px;}
.common-topbar-localinfo{float:left;margin:9px 0;}
.common-topbar-localinfo span{margin:0 5px;}
.text-weather{color:#2b81e8;}
.text-tempmax{color:#e8b96b;}
.text-tempmin{color:#50b54b;}
.ico-weather{display:inline-block;height:16px;width:23px;background:url(../img/ico-topbat-weather.png) no-repeat;vertical-align:text-bottom;}
.ico-weather.sunny{background-position:0 0;}
.common-topbar-wireless,
.common-topbar-loginlink{float:right;margin:9px 0;padding:0;list-style:none;}
.common-topbar-wireless li{position:relative;display:inline-block;margin-left:10px;}
.common-topbar-wireless{border-left:1px #ddd solid;}
.common-topbar-loginlink li{display:inline-block;margin-right:10px;}
.common-topbar-loginlink .btn-change{display:inline-block;padding:0 5px;border:1px #999 solid;border-radius:3px;color:#999;}
.common-topbar-loginlink .btn-change:hover{border-color:#eb4b3f;color:#eb4b3f;}*/
/*** 头部移动端二维码 ***/
.common-filterbar-wireless{float:right;margin:20px 0 auto 30px;}
.common-filterbar-wireless li{display:inline-block;}
.common-filterbar-wireless li a{display:block;width:34px;line-height:34px;text-align:center;}
.common-filterbar-wireless .link-popover-app{color:#999;font-size:28px;}
.common-filterbar-wireless .link-popover-wechat{color:#999;font-size:18px;}

/*** 头部站点定位 & 站点定位下拉菜单 ***/
.common-filterbar{position:relative;}
.common-filterbar-logo{float:left;margin-top:20px;width:134px;height:34px;overflow:hidden;background:url(../img/ico-header-logo.png) no-repeat 0 0;}
.common-filterbar-logo h1{margin:0;padding:0;text-indent:-160px;}
.common-filterbar-site{float:left;width:230px;margin:22px auto 5px 20px;}
.common-filterbar-site > span{font-size:18px;color:#333;}
.common-filterbar-site > span + span{margin-left:20px;cursor:pointer;}
.common-filterbar-site > span .glyphicon{color:#fcae28;}
.common-filterbar-site > span span + .glyphicon{font-size:14px;color:#bbb;transition:transform 0.5s;}
.common-filterbar-site > span:focus span + .glyphicon{transform:rotate(180deg);}
.common-filterbar-site .popover{left:50%;top:46px;width:950px;margin-left:-595px;box-shadow:0 0 10px rgba(0,0,0,.2);}
.common-filterbar-site .popover-content .popover-group{font-size:16px;line-height:200%}
.common-filterbar-site .popover-content .group-title{text-align:right;}
.common-filterbar-site .popover-content ul{margin:0;padding:0;overflow:hidden;list-style:none;}
.common-filterbar-site .popover-content ul + ul{display:none;}
.common-filterbar-site .popover-content li{display:inline-block;padding:0 10px;margin-right:10px;color:#666;cursor:pointer;}
.common-filterbar-site .popover-content .level3 li:hover,
.common-filterbar-site .popover-content li.active{background:#eb4b3f;color:#fff;}
/*** 部门logo ***/
/*.common-branch-logo{position:absolute;left:50%;bottom:-15px;margin-left:-595px;}*/
.common-branch-logo{clear:both;margin:20px 0 10px;}
.common-branch-logo h2{display:inline-block;margin:0;height:24px;overflow:hidden;font-size:18px;font-weight:bold;line-height:24px;color:#2b99ff;vertical-align:middle;}
.common-branch-logo .label-branch{display:inline-block;margin-top:5px;padding:.2em .5em;border-radius:0;background-color:#2b99ff;font-weight:normal;vertical-align:top;}
/*** 头部搜索框 ***/
.common-filterbar-search{float:right;width:560px;margin:20px 0;}
.common-filterbar-searchbox{position:relative;height:36px;border:1px #eb4b3f solid;border-radius:3px;}
.common-filterbar-searchfilter{position:absolute;top:7px;left:0;height:20px;width:18%;text-align:center;border-right:1px #ccc solid;line-height:20px;}
.common-filterbar-searchfilter > a{display:block;color:#333;}
.common-filterbar-searchbox > input{height:34px;width:100%;padding:0 13% 0 2%;line-height:34px;border:none;}
.common-filterbar-searchbox > button{position:absolute;top:0;right:0;height:34px;width:11%;border:none;background:#eb4b3f url('../img/ico-header-search-button.png') no-repeat center 9px;}
.common-filterbar-searchbox > button:hover{background-color:#d14338;}
.common-filterbar-searchlink{margin:5px 0;color:#999;}
.common-filterbar-searchlink > *{display:inline-block;margin-right:8px;font-weight:normal;}
.common-filterbar-searchlink a{color:#999;}
.common-filterbar-searchlink a:hover{color:#eb4b3f;}
#word {position:absolute;top:36px;z-index:99;width:100%;height:auto;background-color:#fff;box-shadow:0 5px 10px rgba(0,0,0,.1);}
.click_work {padding:0 10px;color:#666;cursor:pointer;line-height:240%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.click_work:hover{background-color:#f8f8f8;}
/* 部门自建页面 - 头部自定义样式 */
.customHeader_iframe{border:none;width:100%;height:140px;overflow:hidden;}
.customFooter_iframe{border:none;width:100%;height:193px;overflow:hidden;}
#customHeader_branch .common-filterbar > .common-content{height:90px;}
#customHeader_branch .common-filterbar-logo{margin-top:28px;}
#customHeader_branch .common-filterbar-site{margin-top:32px;width:280px;}
#customHeader_branch .common-filterbar-site > span{cursor:default;}
#customHeader_branch .common-filterbar-search{float:right;margin-top:25px;width:480px;}
#customHeader_branch .common-filterbar-searchbox > input{padding-left:2%;}
#customHeader_branch .common-navbar-login{margin-top:18px;}

/*** 头部导航 & 头部导航下拉菜单 ***/
.common-navbar{position:relative;}
.common-navbar-list{display:inline-block;margin:0;padding:0;list-style:none;}
.common-navbar-list > li{display:inline-block;}
.common-navbar-list > li > a{display:block;width:180px;text-align:center;line-height:50px;font-size:18px;color:#555;}
.common-navbar-list > li > a > .glyphicon{font-size:14px;color:#bbb;transition:transform 0.5s;}
.common-navbar-list > li.active > a,
.common-navbar-list > li.active > a > .glyphicon,
.common-navbar-list > li.popover-nav:hover > a{color:#eb4b3f;}
.common-navbar-list > li.popover-nav:hover > a > .glyphicon{color:#eb4b3f;}
.common-navbar-list > li.popover-nav.active a .glyphicon{transform:rotate(180deg);}
.common-navbar .popover{top:50px;left:0;margin-top:0;width:100%;z-index:101;}
.common-navbar .popover-content{border-top:2px #eb4b3f solid;}
.common-navbar .popover.bottom > .arrow{border-top:3px #fff solid;border-bottom-color:#eb4b3f;}
.popover-nav .popover-group{line-height:40px;}
.popover-nav .popover-group .group-title{font-weight:bold;}
.popover-nav .popover-group .group-content ul{overflow:hidden;}
.popover-nav .popover-group .group-content li{float:left;display:block;}
.popover-nav .list-gr-multitude{line-height:78px;}
.popover-nav .list-gr-multitude li{width:20%;}
.popover-nav .list-gr-multitude li > a{margin: 0 10px 0 0;padding-left:100px;border-radius:5px;background:url('../img/ico-nav-gr-multitude.png') no-repeat;font-size:16px;}
.popover-nav .list-gr-multitude li > a.link-gr-multitude-bsjm{background-position:0 0;color:#eb4b3f;}
.popover-nav .list-gr-multitude li > a.link-gr-multitude-fbsjm{background-position:-230px 0;color:#5bc478;}
.popover-nav .list-gr-multitude li > a.link-gr-multitude-syrs{background-position:-460px 0;color:#5db8cf;}
.popover-nav .list-gr-multitude li > a.link-gr-multitude-jwrs{background-position:-690px 0;color:#f88648;}
.popover-nav .list-gr-multitude li > a.link-gr-multitude-bsjm:hover{background-position:0 -78px;}
.popover-nav .list-gr-multitude li > a.link-gr-multitude-fbsjm:hover{background-position:-230px -78px;}
.popover-nav .list-gr-multitude li > a.link-gr-multitude-syrs:hover{background-position:-460px -78px;}
.popover-nav .list-gr-multitude li > a.link-gr-multitude-jwrs:hover{background-position:-690px -78px;}
.popover-nav .popover-group .group-content li > a{display:block;background-color:#f7f7f7;}
.popover-nav .popover-group .group-content li > a:hover,
.popover-nav .list-gr-multitude li > a:hover{background-color:#eb4b3f;color:#fff;}
.popover-nav .list-gr-subject li{width:12.5%;}
.popover-nav .list-gr-subject li > a{margin:0 10px 10px 0;text-align:center;font-size:15px;color:#333;}
/**** 头部导航右侧-部门链接 & 部门链接下拉菜单 ***/
.common-navbar-link{display:inline-block;margin-left:40px;}
.common-navbar-link > a{display:block;width:100px;text-align:center;line-height:50px;font-size:18px;cursor:pointer;}
.common-navbar-link > a > .glyphicon{font-size:14px;color:#bbb;transition:transform 0.5s;}
.common-navbar-link.active > a{color:#eb4b3f;}
.common-navbar-link.active > a > .glyphicon{color:#eb4b3f;transform:rotate(180deg);}
.list-nav-dep{margin:0;padding:0;overflow:hidden;}
.list-nav-dep > li{float:left;display:block;width:12.5%;}
.list-nav-dep > li a{display:block;margin:0 10px 10px 0;padding:0 10px;background:#f7f7f7;overflow:hidden;font-size:15px;white-space:nowrap;text-overflow:ellipsis;color:#666;line-height:240%;}
.list-nav-dep > li a:hover{background:#eb4b3f;color:#fff;}
/**** 头部导航右侧-登录信息 ****/
.common-navbar-login{float:right;width:240px;text-align:right;line-height:50px;color:#999;}
.common-navbar-login > a{display:inline-block;vertical-align:bottom;}
.common-navbar-login > a + a{margin-left:20px;}
.link-navbar-login{color:#999;}
.link-navbar-user,.link-navbar-user:hover{color:#6e85af;}
.link-navbar-user{max-width:80px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*** 3级页面头部 - 站点定位 & 站点定位下拉菜单 ***/
.simple .common-filterbar-site{width: 90px;}
/*** 3级页面头部 - 部门链接 & 部门链接下拉菜单 ***/
.simple .common-navbar-link{float:left;width:140px;margin:10px 0 0 0;}
.simple .common-navbar-link > span{color:inherit;}
.simple .common-navbar-link .fa{color:#fcae28;}
.simple .common-navbar-link > .popover{left:50%;top:46px;width:950px;margin-left:-595px;box-shadow:0 0 10px rgba(0,0,0,.2);}
/*** 3级页面头部 - 搜索框 ***/
.simple .common-filterbar-search{float:right;}

/*** 检索页面头部 ***/
.searchHeader .common-filterbar{height:100px;}
.searchHeader .common-filterbar-logo{width:241px;height:51px;margin-top:20px;background:url(../img/ico-search-header-logo.png) no-repeat 0 0;}
.searchHeader .common-filterbar-logo h1{text-indent:-300px;}
.searchHeader .common-filterbar-search{float:left;margin-top:22px;margin-left:120px;}
.searchHeader .common-filterbar-searchbox{height:48px;}
.searchHeader .common-filterbar-searchbox > *{height:46px;line-height:46px;}
.searchHeader .common-filterbar-searchbox > input{padding-left:10px;background-position:88% 8px;font-size:16px;}
.searchHeader .common-filterbar-searchbox > button{background-position:center 15px;}

/** footer **/
footer{padding:15px 0;background:#e9e9e9;color:#666;font-size:12px;}
.common-bottom-logo{float:left;margin-right:10px}
.common-bottom-logo > *{display:inline-block;}
.common-bottom-logo > * + *{margin-left:20px;}
.common-bottom-info{float:left;}
.common-bottom-info p{margin-bottom:8px;}
.common-bottom-info p > *{display:inline-block;padding:0 12px;}
.common-bottom-info p > .link-foot-icp{padding-left:30px;background:url(../img/ico-footer-icp.png) no-repeat 12px 0;}
.common-bottom-info p > .link-foot-hgwab{padding-left:30px;background:url(../img/ico-footer-hgwab.png) no-repeat 12px 0;}
.common-bottom-link{float:right;}
.common-bottom-link a{display:inline-block;margin-left:10px;}

/** floatnav **/
.common-floatnav{position:fixed;bottom:50px;right:0;z-index:1000;}
.common-floatnav .foldbox{position:relative;height:396px;overflow:hidden;}
.common-floatnav .list-floatnav{position:absolute;bottom:0;}
.common-floatnav .list-floatnav a{display:block;width:70px;height:70px;margin-bottom:1px;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC666666,endColorstr=#CC666666);background:rgba(102,102,102,.8);text-align:center;}
.common-floatnav .list-floatnav a:hover,
.common-floatnav .list-floatnav a.floatnav-control{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCeb4b3f,endColorstr=#CCeb4b3f);background-color:rgba(235,75,63,.8);color:#fff;}
.common-floatnav .list-floatnav a > span{display:block;padding-top:40px;background:url(../img/ico-floatnav-list.png) no-repeat;line-height:20px;}
.common-floatnav .list-floatnav a.floatnav-control{height:40px;transition:height .5s;}
.common-floatnav .list-floatnav a.floatnav-control > span{background-image:none;padding-top:10px}
.common-floatnav .fold .list-floatnav a.floatnav-control{height:70px;}
.common-floatnav .fold .list-floatnav a.floatnav-control > span{background:url(../img/ico-floatnav-list.png) no-repeat 0 -350px;padding-top:40px;}
.common-floatnav .list-floatnav a.link-floatnav-appoint > span{background-position:0 0;}
.common-floatnav .list-floatnav a.link-floatnav-deal > span{background-position:0 -70px;}
.common-floatnav .list-floatnav a.link-floatnav-search > span{background-position:0 -140px;}
.common-floatnav .list-floatnav a.link-floatnav-appraise > span{background-position:0 -210px;}
.common-floatnav .list-floatnav a.link-floatnav-correct > span{background-position:0 -284px;}
.link-floatnav-service{display:block;width:70px;padding-top:60px;background:url(../img/ico-floatnav-list.png) no-repeat 0 bottom;}
.link-floatnav-service span{display:block;line-height:30px;font-size:12px;color:#666;text-align:center;}
.link-floatnav-service + .tooltip.left{margin-left:-30px;margin-top:10px;}
.link-floatnav-service + .tooltip .tooltip-arrow{border-left-color:#eb4b3f;margin-top:-20px;}
.link-floatnav-service + .tooltip .tooltip-inner{padding-left:30px;line-height:30px;background:#eb4b3f url(../img/ico-floatnav-service.png) no-repeat 0 2px;font-size:14px;}
.link-floatnav-top{position:fixed;bottom:-30px;right:20px;width:30px;height:30px;border-radius:15px;transition:bottom 0.5s;font-size:20px;color:#eee;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC666666,endColorstr=#CC666666);background:rgba(102,102,102,.8);text-align:center;cursor:pointer;}
.link-floatnav-top:hover{color:#fff;}
.link-floatnav-top.active{bottom:15px;}


/** pagination **/
.common-pagination{color:#999;}
.common-pagination span{display:inline-block;}
.common-pagination > *{margin:0 5px;}
.common-pagination ul{overflow:hidden;}
.common-pagination ul li{float:left;border:1px #ddd solid;}
.common-pagination ul li + li{margin-left:-1px;}
.common-pagination ul li a{display:block;padding:5px 10px;background:#fff;color:#999;}
.common-pagination ul li.active a,
.common-pagination ul li a:hover{background:#eb4b3f;color:#fff;}
.common-pagination .btn,
.common-pagination .btn:focus,
.common-pagination .btn:active{background-color:#fff;border-color:#ddd;color:#999;border-radius:0;}
.common-pagination .btn:hover{background-color:#eb4b3f;color:#fff;}
.common-pagination .form-control{width:40px!important;border-radius:0;}

/** crumb **/
.common-crumb{margin:20px 0;}
.common-crumb li{display:inline-block;}
.common-crumb li+li,
.common-crumb li+li a{color:#eb4b3f;}
.common-crumb li .fa{color:#999;}

/** 404/500 **/
.status-404,.status-500{height:450px;padding-left:45%;font-size:15px;color:#999;}
.status-404{background:url(../img/pic-404.png) no-repeat top center;}
.status-500{background:url(../img/pic-500.png) no-repeat top center;}
.status-404 h2,
.status-500 h2{margin-bottom:20px;padding-top:100px;font-size:24px;font-weight:bold;}
.status-404 p,
.status-500 p{margin-bottom:20px;}
.status-404 .btn + .btn,
.status-500 .btn + .btn{margin-left:20px;}

/* 旋转180 */
.ico-rotate{-webkit-transition: -webkit-transform 0.4s ease-out;-moz-transition: -moz-transform 0.4s ease-out;-o-transition: -o-transform 0.4s ease-out;-ms-transition: -ms-transform 0.4s ease-out;}
a:hover .ico-rotate{-webkit-transform: rotateZ(180deg);-moz-transform: rotateZ(180deg);-o-transform: rotateZ(180deg);-ms-transform: rotateZ(180deg);transform: rotateZ(180deg);}
/* 震颤 */
a:hover .ico-shake{-webkit-animation:shake 1s ease;-moz-animation:shake 1s ease;-ms-animation:shake 1s ease;animation:shake 1s ease;}
@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);} 10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);} 20%,40%,60%,80%{-webkit-transform:translateX(10px);}}
@-moz-keyframes shake{0%,100%{-moz-transform:translateX(0);} 10%,30%,50%,70%,90%{-moz-transform:translateX(-10px);} 20%,40%,60%,80%{-moz-transform:translateX(10px);}}
@-ms-keyframes shake{0%,100%{-ms-transform:translateX(0);} 10%,30%,50%,70%,90%{-ms-transform:translateX(-10px);} 20%,40%,60%,80%{-ms-transform:translateX(10px);}}
@keyframes shake{0%,100%{transform:translateX(0);} 10%,30%,50%,70%,90%{transform:translateX(-10px);} 20%,40%,60%,80%{transform:translateX(10px);}}
/* 翻入-Y轴 */
a:hover .ico-flipinY{-webkit-animation:flipinY 1.5s ease-out backwards;-moz-animation:flipinY 1.5s ease-out backwards;-ms-animation:flipinY 1.5s ease-out backwards;animation:flipinY 1.5s ease-out backwards;}
@-webkit-keyframes flipinY{0%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0;} 40%{-webkit-transform:perspective(400px) rotateY(-10deg);} 70%{-webkit-transform:perspective(400px) rotateY(10deg);} 100%{-webkit-transform:perspective(400px) rotateY(0);opacity:1
;}}
@-moz-keyframes flipinY{0%{-moz-transform:perspective(400px) rotateY(90deg);opacity:0;} 40%{-moz-transform:perspective(400px) rotateY(-10deg);} 70%{-moz-transform:perspective(400px) rotateY(10deg);} 100%{-moz-transform:perspective(400px) rotateY(0);opacity:1;}}
@-ms-keyframes flipinY{0%{-ms-transform:perspective(400px) rotateY(90deg);opacity:0;} 40%{-ms-transform:perspective(400px) rotateY(-10deg);} 70%{-ms-transform:perspective(400px) rotateY(10deg);} 100%{-ms-transform:perspective(400px) rotateY(0);opacity:1;}}
@keyframes flipinY{0%{transform:perspective(400px) rotateY(90deg);opacity:0;} 40%{transform:perspective(400px) rotateY(-10deg);} 70%{transform:perspective(400px) rotateY(10deg);} 100%{transform:perspective(400px) rotateY(0);opacity:1;}}
/* 淡入-从右 */
a:hover .ico-fadeinR{-webkit-animation:fadeinR 1s ease-out backwards;-moz-animation:fadeinR 1s ease-out backwards;-ms-animation:fadeinR 1s ease-out backwards;animation:fadeinR 1s ease-out backwards;}
@-webkit-keyframes fadeinR{0%{opacity:0;-webkit-transform:translateX(20px);} 100%{opacity:1;-webkit-transform:translateX(0);}}
@-moz-keyframes fadeinR{0%{opacity:0;-moz-transform:translateX(20px);} 100%{opacity:1;-moz-transform:translateX(0);}}
@-ms-keyframes fadeinR{0%{opacity:0;-ms-transform:translateX(20px);} 100%{opacity:1;-ms-transform:translateX(0);}}
@keyframes fadeinR{0%{opacity:0;transform:translateX(20px);} 100%{opacity:1;transform:translateX(0);}}
/* 弹入 */
a:hover .ico-bouncein{-webkit-animation:bouncein 1s ease-out backwards;-moz-animation:bouncein 1s ease-out backwards;-ms-animation:bouncein 1s ease-out backwards;animation:bouncein 1s ease-out backwards;}
@-webkit-keyframes bouncein{0%{opacity:0;-webkit-transform:scale(0.3);} 50%{opacity:1;-webkit-transform:scale(1.05);} 70%{-webkit-transform:scale(0.9);} 100%{-webkit-transform:scale(1);}}
@-moz-keyframes bouncein{0%{opacity:0;-moz-transform:scale(0.3);} 50%{opacity:1;-moz-transform:scale(1.05);} 70%{-moz-transform:scale(0.9);} 100%{-moz-transform:scale(1);}}
@-ms-keyframes bouncein{0%{opacity:0;-ms-transform:scale(0.3);} 50%{opacity:1;-ms-transform:scale(1.05);} 70%{-ms-transform:scale(0.9);} 100%{-ms-transform:scale(1);}}
@keyframes bouncein{0%{opacity:0;transform:scale(0.3);} 50%{opacity:1;transform:scale(1.05);} 70%{transform:scale(0.9);} 100%{transform:scale(1);}}
/* 闪烁 */
a:hover .ico-flash{-webkit-animation:flash 1s ease;-moz-animation:flash 1s ease;-ms-animation:flash 1s ease;animation:flash 1s ease;}
@-webkit-keyframes flash{0%,50%,100%{opacity:1;} 25%,75%{opacity:0;}}
@-moz-keyframes flash{0%,50%,100%{opacity:1;} 25%,75%{opacity:0;}}
@-ms-keyframes flash{0%,50%,100%{opacity:1;} 25%,75%{opacity:0;}}
@keyframes flash{0%,50%,100%{opacity:1;} 25%,75%{opacity:0;}}
/* 淡入-从下 */
a:hover .ico-fadeinB{-webkit-animation:fadeinB 1s ease-out backwards;-moz-animation:fadeinB 1s ease-out backwards;-ms-animation:fadeinB 1s ease-out backwards;animation:fadeinB 1s ease-out backwards;}
@-webkit-keyframes fadeinB{0%{opacity:0;-webkit-transform:translateY(20px);} 100%{opacity:1;-webkit-transform:translateY(0);}}
@-moz-keyframes fadeinB{0%{opacity:0;-moz-transform:translateY(20px);} 100%{opacity:1;-moz-transform:translateY(0);}}
@-ms-keyframes fadeinB{0%{opacity:0;-ms-transform:translateY(20px);} 100%{opacity:1;-ms-transform:translateY(0);}}
@keyframes fadeinB{0%{opacity:0;transform:translateY(20px);} 100%{opacity:1;transform:translateY(0);}}
