@charset "utf-8";

html,body{background:#f8fafc;}

/** workbox **/
.work-box{position:relative;margin-bottom:15px;padding:30px;background:#fff;border:1px #e5e5e5 solid;}
.list-workshare-links .popover img{cursor:pointer;}

/** workTable **/
.work-table-title{padding:3px 0 5px 30px;color:#eb4b3f;background:url(../img/ico-work-box-tableTitle.png) no-repeat 0 0;}
.title,
.table th{background:#ffefee;}
.table th{font-weight:normal;}
#work-basic-info table{table-layout:fixed;}
#work-basic-info td{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#work-basic-info td > p{margin:0;overflow:hidden;text-overflow:ellipsis;}
#work-basic-info td.cell-break{white-space:normal;}
#work-basic-info td.cell-break > *{white-space:normal;}
#work-basic-info td.cell-popover > div:first-child{overflow:hidden;text-overflow:ellipsis;}
#work-basic-info td.cell-popover .popover-title{margin:auto;}

/* workbox topbox */
.work-box h2{width:75%;margin:0 0 15px;font-size:24px;}
.work-box > h3{width:75%;margin:0 0 15px;font-size:16px;}
.work-box > p{width:75%;}
#work-topbox p,
#work-topbox p a{margin:0;color:#666;}
#work-topbox p a:hover{color:#eb4b3f;}
#work-topbox p > span{display:inline-block;padding-right:15px;}
#work-topbox p > span + span{padding-left:15px;border-left:1px solid #dcdcdc;}
.work-box-floatlinks{position:absolute;right:30px;top:30px;width:30%;text-align:right;}
.list-workshare-links{margin-bottom:34px;}
.list-workshare-links a{display:inline-block;margin-left:20px;padding-left:20px;color:#999;background:url(../img/ico-workshare-links.png) no-repeat;}
.list-workshare-links a.link-work-mobile{background-position:0 3px;}
.list-workshare-links a.link-work-share{background-position:0 -31px;}
.list-workshare-links a.link-work-mark{background-position:0 -67px}
.list-workshare-links a:hover{color:#eb4b3f;}
.list-workshare-links a.link-work-mobile:hover{background-position:0 -101px;}
.list-workshare-links a.link-work-share:hover{background-position:0 -135px;}
.list-workshare-links a.link-work-mark:hover{background-position:0 -171px}
.work-box-btns .btn{margin-left:10px;font-size:18px;}

/** workAffix **/
body{position:relative;height:100%;}
#workAffix{overflow:hidden;z-index:100;margin-bottom:-1px}
#workAffix.affix-top{position:relative;}
#workAffix.affix{top:0;}
#workAffix li{float:left;background:#fff;border:1px #e5e5e5 solid;}
#workAffix li + li{margin-left:-1px;}
#workAffix li.active{border-bottom-color:#fff;}
#workAffix li a{display:block;padding:10px 16px;font-size:16px;color:#999;}
#workAffix li a:hover,
#workAffix li a:focus{background:none;color:#eb4b3f;}
#workAffix li.active a{font-weight:bold;color:#333;}

/*workbox title*/
.work-box-title{margin:0 0 15px;padding-left:60px;font-size:20px;line-height:50px;background:url(../img/ico-work-box-title.png) no-repeat;}
#work-basic-info .work-box-title{background-position:0 0;}
#work-accept-condition .work-box-title{background-position:0 -50px;}
#work-apply-data .work-box-title{background-position:0 -100px;}
#work-handle-process .work-box-title{background-position:0 -150px;}
#work-handle-placetime .work-box-title{background-position:0 -200px;}
#work-rule-fee .work-box-title{background-position:0 -250px;}
#work-basis-setting .work-box-title{background-position:0 -300px;}
#work-result-sample .work-box-title{background-position:0 -350px;}
#work-common-question .work-box-title{background-position:0 -400px;}

/* workbox content */
.work-box-content{margin-left:60px;font-size:15px;}
.work-box-content > * + *{margin-top:15px;}
.work-box-content > h3{padding-left:30px;background:url(../img/ico-work-box-subTitle.png) no-repeat 0 0;line-height:24px;font-size:18px;}
.work-box-content > * + h3{margin-top:30px;}
.work-box-content .list-work-text{margin-top:15px;color:#999;line-height:180%;}
.work-box .row-hidden{display:none;}
.work-box .toggleBtn{padding:0 15px;font-size:14px;}

/* 办理流程 */
#work-handle-process .work-box-content{overflow:hidden;}
#flow_chart img{max-width:100%;}
.process-imgbox{position:relative;float:left;width:200px;}
.process-imgbox:before{content:'';position:absolute;top:0;left:0;bottom:0;width:100%;background-color:rgba(0,0,0,.1);border:1px #dcdcdc solid;}
.process-imgbox .btn{position:absolute;top:40%;left:50%;margin-left:-40px;}
.process-listbox{float:left;width:70%;margin-left:10%;font-size:16px;}
.process-listbox li{position:relative;margin-bottom:30px;line-height:20px;}
.process-listbox li + li:before{content:"";position:absolute;top:0;left:0;margin-top:-33px;margin-left:6px;width:1px;height:36px;background:#e5e5e5;}
.process-listbox li .fa{display:inline-block;margin-right:20px;color:#eb4b3f;}

/* 办理地点/时间 */
.item-handle-placetime p{margin:0 0 5px;}

/* 收费标准 */
#work-rule-fee p span{color:#999;}
#work-rule-fee .work-box-content h3 + p{padding-left:30px;}

/* 结果样本 */
#work-result-sample .popover{border-color:#eee;box-shadow:0 0 10px rgba(0,0,0,.2)}
#work-result-sample .popover > .arrow{border-right-color:#eee;}
#work-result-sample .work-box-content h3 + p{padding-left:30px;}

/* 咨询投诉 */
#work-ask-complain .work-box-content p{padding-left:30px;}

/* 常见问题 */
#work-common-question .work-box-content p{padding-left:30px;}
