<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <link href="/${mobileRes!}/css/weui.css" rel="stylesheet" type="text/css"/>
    <link href="/${mobileRes!}/css/jquery-weui.css" rel="stylesheet" type="text/css"/>
    <link href="/${mobileRes!}/css/index.css" rel="stylesheet" type="text/css"/>
	<script src="/${mobileRes!}/js/vue.min.js"></script>
</head>
<body ontouchstart>
   [#include "../include/header.html"/]
    <div class="weui-tab" style="margin-top: 0;height: calc(100% - 53px);">
         [#include "../include/pullToRefresh.html"/]

        <!-- tab切换页区域开始 -->
        <div class="weui-tab__bd weui-tab__bd-zdy">
            <div id="menu" class="weui-tab__bd-item weui-tab__bd-item--active">
			  <div v-for="dt in datas">
                             <p class="weui-class">{{dt.category_name}}</p>
				<div class="weui-grids">
				  <div v-for="svc in dt.service_info">
					<a :href="'/hrssc'+svc.guide_url+'?id=${wx_user}'" class="weui-grid js_grid"  >
						<div class="weui-grid__icon">
							<img src="/${mobileRes!}/img/icon_nav_cell.png" alt="">
						</div>
						<p class="weui-grid__label">{{svc.service_name}}</p>
					</a>
				  </div>
				</div>
			  </div>
            </div>
        </div>
        <!-- tab切换页区域结束 -->

    </div>
        <!-- 回到顶部按钮-->
        <div class="top"></div>
        <!-- 回到顶部按钮结束-->
      <!-- 底部固定区域菜单开始 -->
       [#include "../include/tabbar.html"/]

    <script src="/${mobileRes!}/js/jquery-2.1.4.js"></script>
    <script src="/${mobileRes!}/js/fastclick.js"></script>
    <script>
	$.ajaxSetup({ async: false });
	var menus = {};
	$(function () {
	    FastClick.attach(document.body);
		
		$.getJSON("/csp/service/hrservices/list", function(result){
			menus.datas = result;
		});
		
		new Vue({
		  el: '#menu',
		  data: menus
		})
	});
    </script>
    <script src="/${mobileRes!}/js/jquery-weui.js"></script>
    <script src="/${mobileRes!}/js/urlJudge.js"></script>
    <script src="/${mobileRes!}/js/pullToRefresh.js"></script>
    <script src="/${mobileRes!}/js/back-to-top.js"></script>
</body>

</html>