<div>
    <div class="page-header">发现</div>
    <div class="page-body">
        <div class="find-nav-title"><span>发现热门话题!</span> <i class="fa fa-angle-right" id="find-right-arrow"></i></div>
        <div class="book-item" id="find-item">
            <img src="image/1.jpg" alt="" id="find-img"/>
            <div id="find-container">
                <div id="find-title">#看见味道的少女#</div>
                <div>【7集亲嘴上线】朴有天、申世景主演...</div>
                <div>3.6亿阅读</div>
            </div>
            <a id="find-guanzhu"><i  class="fa fa-user-plus"></i>加关注</a>
        </div>

        <div class="book-item" id="find-item-z">
            <img src="image/2.jpg" alt="" id="find-img-z"/>
            <div id="find-container-z">
                <div id="find-title-z">#全民阅读周#</div>
                <div>今年，央视新闻"我们读书吧"媒体公...</div>
                <div>7019.4万阅读</div>
            </div>
            <a id="find-guanzhu-z"><i  class="fa fa-user-plus"></i>加关注</a>
        </div>

        <div class="for-more"><span>查看更多热门话题</span> <i class="fa fa-angle-right" id="find-right-arrow-z"></i></div>

        <div class="book-item" id="find-item-x">
            <img src="image/3.jpg" alt="" id="find-img-x"/>
            <div id="find-container-x">
                <div id="find-title-x">#仗义男神佟大为#</div>
                <div>男神不仅颜值要高，性格好，还要...</div>
                <div>380.2万阅读</div>
            </div>
            <a id="find-guanzhu-x"><i  class="fa fa-user-plus"></i>加关注</a>
        </div>

        <div class="book-item" id="find-item-c">
            <img src="image/4.jpg" alt="" id="find-img-c"/>
            <div id="find-container-c">
                <div id="find-title-c">#看见味道的少女#</div>
                <div>【7集亲嘴上线】朴有天、申世景主演...</div>
                <div>3.6亿阅读</div>
            </div>
            <a id="find-guanzhu-c"><i  class="fa fa-user-plus"></i>加关注</a>
        </div>







    </div>
    <page-nav nav-current-index = 2></page-nav>
</div>