<div>
    <div class="page-header">
        <a href="#/login" class="fa fa-mail-reply login-back"></a>
        <span>重置密码</span>
    </div>
    <div class="page-no-nav-body">
        <form name="frm" novalidate>
            <div class="loadList">

                <div class="form-item">
                    <label class="item-title">账号<span>*</span></label>
                    <input type="text" name="phone" id="phone" class="item-textbox" ng-model="form.phone" required pattern="^1[8357]\d{9}$" placeholder="请输入手机号码" autocomplete="off" maxlength="11"/>
                </div>
                <span id="txtPhone" ng-show="frm.phone.$dirty && frm.phone.$error.pattern"><i class="fa fa-times-circle"></i>请输入正确格式的电话号码!</span>
                <span id="txtPhone2" ng-show="frm.phone.$dirty && frm.phone.$error.required"><i class="fa fa-times-circle"></i>电话号码不能为空!</span>
                <span id="txtPhone1" ng-hide="frm.phone.$dirty && frm.phone.$error.pattern || frm.phone.$dirty && frm.phone.$error.required"></span>
                <div class="dv-hr"></div>
                <div class="form-item">
                    <label class="item-title">验证码<span>*</span></label>
                    <div class="newsbox">
                        <input type="text" name="phoneNews" id="phoneNews"  ng-model="form.phoneNews" required pattern="^\d{4}$" class="item-textbox phoneNews-textbox" placeholder="请输入验证码" autocomplete="off" maxlength="4"/>
                        <button class="btn-get-news"  ng-click="getPhoneNews();" ng-disabled="frm.phone.$invalid || btndisabled">{{btnSend}}</button>
                    </div>
                </div>
                <span id="txtPassword" ng-show="frm.phoneNews.$dirty && frm.phoneNews.$error.pattern"><i class="fa fa-times-circle"></i>验证码为4位的数字!</span>
                <span id="txtPassword2" ng-show="frm.phoneNews.$dirty && frm.phoneNews.$error.required"><i class="fa fa-times-circle"></i>验证码不能为空!</span>
                <span id="txtPassword1" ng-hide="frm.phoneNews.$dirty && frm.phoneNews.$error.pattern || frm.phoneNews.$dirty && frm.phoneNews.$error.required"></span>
                <div class="dv-hr"></div>

                <div class="show-data">
                    <span class="error-info" ng-show="phoneNewsShow"><i class="fa fa-times-circle"></i>验证码错误!</span>
                    <span class="success-info" ng-show="phoneNewsShowSuccess"><i class="fa fa-check-circle"></i>验证码正确，请继续修改操作!</span>
                </div>

                <div class="center-align">
                    <button class="btn-submit" ng-click="enterIn();" ng-disabled="frm.$invalid">下一步</button>
                </div>

            </div>
        </form>
    </div>
</div>