.bookDataDetail-container{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    min-width: 897px;
}
.bookDataDetail-title{
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #ececec;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 15px;
    position: relative;
}
.bookDataDetail-little{
    width: 100%;
    height: 225px;/*待删 150=2 450=6*/
    padding: 25px 25px 0 25px;
    box-sizing: border-box;
    position: relative;
}
.bookDataChange-little{
    width: 100%;
    height: 300px;/*待删 150=2 450=6*/
    padding: 15px 25px 0 25px;
    box-sizing: border-box;
    position: relative;
}
.bookDataDetail-little>div{
    width: 100%;
    padding-left: 30%;
    margin: auto;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
}
.bookDataDetail-little>div:first-child{
    margin-top: 10px;
}
.bookDataChange-little>div:first-child{
    margin-top: 50px;
}
.bookDataDetail-little>div>i{
    color: #000;
    width: 100px;
    box-sizing: border-box;
    padding-left: 20px;
    font-style: normal;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
}
.bookDataDetail-little>div>span{
    color: #777;
    font-size: 14px;
    display: inline-block;
    width: 30%;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.bookDataDetail-little>img{
    position: absolute;
    display: inline-block;
    left: 25px;
    top: 12px;
    width: 200px;
    height: 200px;
    border-radius: 4px;
}
.bookDataChange-little>img{
    top: 40px;
}
.bookDataChange-btn{
    position: absolute;
    display: inline-block;
    left: 25px;
    width: 200px;
    outline: none !important;
    top: 250px;

}
.bookDataDetail-introduce{
    width: 100%;
    color: #888;
    font-size: 14px;
    text-indent: 40px;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 25px 25px;
    box-sizing: border-box;
    min-height: 320px;
}
/***************图书信息管理修改页面******************/
